In [121]:
# file handling
o=input("Enter a file name in .txt: \n")
#o='Brook.txt'
f_hand=open(o)

def capital(a): #to print the file in capital letter and strip down the extra spaces
  for i in f_hand:
    i=i.strip()
    z=i.upper()
    print(z)

def lst(p): # splitting the .txt file in list of strings or chars
  #print(p)
  f_hand.seek(0) #to reset the pointer of the file as it reaches in the end
  #bart=list()
  x = []
  #return(f_hand.read().strip().split()) #this is correct
  #print(f_hand)
  for i in f_hand:
    i=i.strip()
    i=i.strip('\n')
    i=i.split()
    x += i
  return(x)
    
#print(lst(x))

def count_char(c): #to count number of items in the list
  count =0
  temp=list()
  temp=lst(o)
  for i in temp:
    count+=1
  return(count)

print("\n\nOutput of First function \'capital()\' is below \n")
capital(0)
print("Conversion of poem to number of items of lis is below:\n")
print(lst(o))
print("\n")
print("Total Number of items in list after conversion are: ",count_char(0)," items") #function 3 called

Enter a file name in .txt:
Brook.txt


Output of First function 'capital()' is below

COME FROM HAUNTS OF COOT AND HERN
I MAKE A SUDDEN SALLY
AND SPARKLE OUT AMONG THE FERN
TO BICKER DOWN A VALLEY

BY THIRTY HILLS I HURRY DOWN
OR SLIP BETWEEN THE RIDGES
BY TWENTY THORPES, A LITTLE TOWN
AND HALF A HUNDRED BRIDGES

TILL LAST BY PHILIP'S FARM I FLOW
TO JOIN THE BRIMMING RIVER
FOR MEN MAY COME AND MEN MAY GO
BUT I GO ON FOR EVER

I CHATTER OVER STONY WAYS
IN LITTLE SHARPS AND TREBLES
I BUBBLE INTO EDDYING BAYS
I BABBLE ON THE PEBBLES

WITH MANY A CURVE MY BANKS I FRET
BY MANY A FIELD AND FALLOW
AND MANY A FAIRY FORELAND SET
WITH WILLOW-WEED AND MALLOW

I CHATTER, CHATTER, AS I FLOW
TO JOIN THE BRIMMING RIVER
FOR MEN MAY COME AND MEN MAY GO
BUT I GO ON FOR EVER

I WIND ABOUT, AND IN AND OUT
WITH HERE A BLOSSOM SAILING
AND HERE AND THERE A LUSTY TROUT
AND HERE AND THERE A GRAYLING

AND HERE AND THERE A FOAMY FLAKE
UPON ME, AS I TRAVEL
WITH MANY A SILVERY WATERBREAK
ABOVE THE GOLDEN GRAVEL

AND DRAW THEM ALL ALONG, AND FLOW
TO JOIN THE BRIMMING RIVER
FOR MEN MAY COME AND MEN MAY GO
BUT I GO ON FOR EVER

Conversion of poem to number of items of lis is below:

['come', 'from', 'haunts', 'of', 'coot', 'and', 'hern', 'I', 'make', 'a', 'sudden', 'sally', 'And', 'sparkle', 'out', 'among', 'the', 'fern', 'To', 'bicker', 'down', 'a', 'valley', 'By', 'thirty', 'hills', 'I', 'hurry', 'down', 'Or', 'slip', 'between', 'the', 'ridges', 'By', 'twenty', 'thorpes,', 'a', 'little', 'town', 'And', 'half', 'a', 'hundred', 'bridges', 'Till', 'last', 'by', "Philip's", 'farm', 'I', 'flow', 'To', 'join', 'the', 'brimming', 'river', 'For', 'men', 'may', 'come', 'and', 'men', 'may', 'go', 'But', 'I', 'go', 'on', 'for', 'ever', 'I', 'chatter', 'over', 'stony', 'ways', 'In', 'little', 'sharps', 'and', 'trebles', 'I', 'bubble', 'into', 'eddying', 'bays', 'I', 'babble', 'on', 'the', 'pebbles', 'With', 'many', 'a', 'curve', 'my', 'banks', 'I', 'fret', 'By', 'many', 'a', 'field', 'and', 'fallow', 'And', 'many', 'a', 'fairy', 'foreland', 'set', 'With', 'willow-weed', 'and', 'mallow', 'I', 'chatter,', 'chatter,', 'as', 'I', 'flow', 'To', 'join', 'the', 'brimming', 'river', 'For', 'men', 'may', 'come', 'and', 'men', 'may', 'go', 'But', 'I', 'go', 'on', 'for', 'ever', 'I', 'wind', 'about,', 'and', 'in', 'and', 'out', 'With', 'here', 'a', 'blossom', 'sailing', 'And', 'here', 'and', 'there', 'a', 'lusty', 'trout', 'And', 'here', 'and', 'there', 'a', 'grayling', 'And', 'here', 'and', 'there', 'a', 'foamy', 'flake', 'Upon', 'me,', 'as', 'I', 'travel', 'With', 'many', 'a', 'silvery', 'waterbreak', 'Above', 'the', 'golden', 'gravel', 'And', 'draw', 'them', 'all', 'along,', 'and', 'flow', 'To', 'join', 'the', 'brimming', 'river', 'For', 'men', 'may', 'come', 'and', 'men', 'may', 'go', 'But', 'I', 'go', 'on', 'for', 'ever']


Total Number of items in list after conversion are:  212  items

In [133]:
# lists
# we used to have Multidimensions in c/c++, but there are no multi-dimensions in lists

lst1= [1,2,3,4,5]
lst2=[]
for i in range (0,10):
  lst2.append(i)
  i+=1
print(lst1)
print(lst2)
print("\n\n")

#using enumerate function in basic list, all it do is to add iteration along with item value
for i in enumerate(lst1):
  print("Iteration number is first, Value at second ",i)

[1, 2, 3, 4, 5]
[0, 1, 2, 3, 4, 5, 6, 7, 8, 9]



Iteration number is first, Value at second  (0, 1)
Iteration number is first, Value at second  (1, 2)
Iteration number is first, Value at second  (2, 3)
Iteration number is first, Value at second  (3, 4)
Iteration number is first, Value at second  (4, 5)

In [142]:
#using enumerator() in dictionary
dict_name={1:"Amar", 2:"Akbar", 3:"Anthony",4:"Atharva", 5:"Nelson Mandela"}
for p,q in enumerate(dict_name):
  print(p,q, dict.values) #successful use of enumerator in dictionary
#print(enumerate(dict_name))
print(dict_name)

0 1 <method 'values' of 'dict' objects>
1 2 <method 'values' of 'dict' objects>
2 3 <method 'values' of 'dict' objects>
3 4 <method 'values' of 'dict' objects>
4 5 <method 'values' of 'dict' objects>
{1: 'Amar', 2: 'Akbar', 3: 'Anthony', 4: 'Atharva', 5: 'Nelson Mandela'}

In [157]:
#making basic list of dictionaries

di={} #initializing null dictionary
d_list=list() #another empty list
for i in range(0,5):
  di['input']=i #putting values in empty list
  d_list.append(di)
  print(di) #dictionary in list

{'input': 0}
{'input': 1}
{'input': 2}
{'input': 3}
{'input': 4}

In [170]:
#basic list operations
l=[1,2,3,4,5,6,4,54,234,-1]
print(max(l))
print(l[2:])
print(l[::-1]) #reverse order
print(min(l))
print(sum(l))
print(len(l))
print("Average: ",sum(l)/len(l))

234
[3, 4, 5, 6, 4, 54, 234, -1]
[-1, 234, 54, 4, 6, 5, 4, 3, 2, 1]
-1
312
10
Average:  31.2

In [181]:
#stripping a text and extracting float value, concept of list and string conversion

entered="ThisIsAString 0.364489464"
a=entered.find(" ")
b=entered[a::1]
stripp = b.strip()
#stripp= b.strip()
final= float(stripp)
print(final)

0.364489464